.omnibar {
  background-color: $brand-blue;
  color: $white;
  font-size: 12px;
  letter-spacing: 0.12em;
  padding: 1em 0.5em 0.5em 1rem;

  a {
    color: $light-gray;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }
}
