.site-header {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2em 1.2em;
  width: 100%;

  @include media($mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.logo-wrapper {
  .logo {
    display: inline-block;
    padding: 0;

    img {
      max-height: 100px;
    }
  }
}
