---
layout: default
class: front
title: Inquiry @ UC Santa Cruz
banner:
  file: 2026/seaweed-cover-art.jpg
  text: "100 years of seaweed and kelp"
current: 2025-26
---

<div class="row">
  <section class="two-thirds block toc">
    <h1 class="issue-title">{{ page.current }}</h1>

    <div class="features">
      <ul class="toc-list">
        {% for feature in site.data.features %}
        <li>
          <h2>
            <a href="{{ feature.url }}">{{ feature.title }}</a>
          </h2>
          <p class="teaser">{{ feature.subhead }}</p>

          <p class="author">
            By {{ feature.author.first }} {{ feature.author.last }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="one-third block">
    <figcaption>
      Above: Jennifer Parker, 100 Years of Seaweed & Kelp, Marine Algae
      Wallpaper, Cameron Art Museum, Wilmington, North Carolina, 2024. Photo by
      Cameron Art Museum. Courtesy of the artist and Cameron Art Museum.
    </figcaption>
  </section>
</div>
{% include back-to-top.html %}
