---
layout: default
class: front
title: Inquiry @ UC Santa Cruz
banner:
  file: 2026/cover-art.jpg
  text: "Down on the farm"
current: 2025-26
---

<div class="row">
  <section class="two-thirds block toc">
    <h1 class="issue-title">{{ page.current }}</h1>

    <div class="features">
      <ul class="toc-list">
        {% for feature in site.data.features %}
        <li>
          <h2>
            <a href="{{ feature.url }}">{{ feature.title }}</a>
          </h2>
          <p class="teaser">{{ feature.subhead }}</p>

          <p class="author">
            By {{ feature.author.first }} {{ feature.author.last }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="one-third block">
    <figcaption>
      Above: What is now the UCSC Center for Agroecology began in the late 1960s
      as a hand-cultivated organic garden carved out of rocky soil and thick
      brush by Englishman and expert gardener Alan Chadwick and his eager
      student apprentices. The farm and garden complex has since expanded to 32
      acres of fields, orchards, greenhouses, cabins, and, most recently, an
      aquaculture facility, all on the same gently sloping campus hill
      overlooking the Monterey Bay. Credit: Carolyn Lagattuta, with permission.
    </figcaption>
  </section>
</div>
{% include back-to-top.html %}
